/*header*/

header {
    margin: 0 30px;
    display: flex;
    height: 15%;
    align-items: center;
    text-align: center;
}

/*parte izq-nombre*/

.header__name {
    flex: 3;
    font-size: 30px;


}

.header__name span {
    color: var(--rojo);
}

.header__name:hover {
    text-shadow: 1px 2px 20px var(--grisTransparente);
}

/*parte centro-navegacion*/

.header__nav {
    flex: 6;
    background: transparent;
    margin: 0 5px;
    padding: 20px;
}

.header__nav nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 18px;
}

.header__nav nav ul li a {
    text-decoration: none;
    color: var(--blanco);
}

.header__nav nav ul li a:hover {
    color: var(--rojoIntenso);
    text-shadow: 3px 3px 30px var(--blanco);
}

/*parte derecha-contacto*/
.header_contact {
    flex: 3;

}

.header_contact button {
    background: var(--rojoOscuro);
    color: var(--blanco);
    width: 150px;
    padding: 5px 2px;
    border-radius: 1px solid var(--rojoOscuro);
    border-radius: 45px;
    font-size: 20px;
    transition: all 0.4s ease;
}

.header_contact button:hover {
    background: var(--rojo);
    box-shadow: 2px 2px 20px var(--rojo);
}