@import url(css/header.css);
@import url(css/sectionMain.css);
@import url(css/sectionAboutMe.css);

* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

:root {
    --blanco: #fff;
    --negro: black;
    --grisOscuro: #171616;
    --rojoIntenso: red;
    --rojo: rgb(216, 28, 28);
    --rojoOscuro: rgb(156, 6, 6);
    --grisTransparente: rgba(182, 148, 148, 0.438);
}

body {
    background: url(https://images2.alphacoders.com/101/thumb-1920-101692.jpg) no-repeat center;
    background-size: cover;
    height: 100%;
    color: var(--blanco);
}
